@using System.Threading.Tasks
@using ParkingATHWeb.Infrastructure.Extensions
@using ParkingATHWeb.Models
@model ParkingATHWeb.Areas.Portal.ViewModels.HomeViewModel
@{
    var userState = (AppUserState)ViewContext.RouteData.Values["appUserState"];
}
<!DOCTYPE html>
<html lang="en" ng-app="portalApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <base href="/Portal">
    <title>@ViewData["Title"] - SmartPark</title>
    <link rel="apple-touch-icon" sizes="57x57" href="~/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <environment names="Development">
        <!-- For Windows Phone -->
        <!-- CORE CSS-->
        <link href="~/css/Dashboard/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
        <link href="~/css/Dashboard/style.css" type="text/css" rel="stylesheet" media="screen,projection">
        <!-- Custome CSS-->
        <link href="~/css/Dashboard/custom/custom.css" type="text/css" rel="stylesheet" media="screen,projection">
        <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
        <link href="~/js/Dashboard/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
        <link href="~/js/Dashboard/plugins/dropify/css/dropify.css" type="text/css" rel="stylesheet" media="screen,projection">
        <link href="~/js/dashboard/plugins/ionrangeslider/css/ion.rangeslider.css" rel="stylesheet" />
        <link href="~/js/dashboard/plugins/ionrangeslider/css/ion.rangeslider.skinflat.css" rel="stylesheet" />
        <link href="~/lib/angular-chart.js/dist/angular-chart.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/portal.min.css" asp-append-version="true" />
    </environment>

    @RenderSection("styles", required: false)
</head>
<body ng-controller="layoutCtrl as layoutCtrl" ng-cloak ng-init="layoutCtrl.init('@userState.SidebarShrinked','@userState.Name','@userState.LastName','@userState.PhotoId','@Model.UnreadClustersCount','@Model.FromShop','@Model.IsError')" request-verification-token="@Html.RequestVerificationToken()">
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START HEADER -->
    <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <ul class="left flex-align-center-container" style="justify-content: flex-end">
                        <li class="logo-cont">
                            <h1 class="logo-wrapper">
                                <a href="~/" class="brand-logo darken-1" target="_self"><img src="~/images/logo_white.png" alt="smartpark logo"></a> <span class="logo-text">SmartPark</span>
                            </h1>
                        </li>
                        <li class="hide-on-small-only logo-cont">
                            <h1 class="logo-wrapper">
                                <a href="~/" class="brand-logo darken-1" target="_self"><img src="~/images/logo_reset_white.png" alt="reset logo" style="max-height: 38px;width:auto"></a> <span class="logo-text">RESET</span>
                            </h1>
                        </li>
                        <li class="hide-on-med-and-down logo-cont">
                            <h1 class="logo-wrapper">
                                <a href="~/" class="brand-logo darken-1" target="_self"><img src="~/images/ath-logo-white.png" alt="smartpark logo" style="max-height: 38px;width:auto"></a> <span class="logo-text">SmartPark</span>
                            </h1>
                        </li>
                        <li class="hide-on-med-and-down logo-cont">
                            <h1 class="logo-wrapper">
                                <a href="~/" class="brand-logo darken-1" target="_self"><img src="~/images/wbmii-logo-white.png" alt="smartpark logo" style="max-height: 38px; width: auto"></a> <span class="logo-text">SmartPark</span>
                            </h1>
                        </li>
                        <li class="hide-on-large-only">
                            <form asp-action="Logout" asp-controller="Account" asp-route-area="Portal" id="logoutForm">
                                <a href="javascript:document.getElementById('logoutForm').submit()"><i class="material-icons">directions_run</i></a>
                            </form>
                        </li>
                    </ul>
                    <ul class="right logo-cont" style="height: 100%">
                        <li class="valign-wrapper hide-on-semi-mid-and-small">
                            <h4 class="small right-align padding-25 no-hover valign">WYKUP ABONAMENT - ZAPŁAĆ ZBLIŻENIOWO<br />OTWIERAJ BRAMĘ SMARTFONEM</h4>
                        </li>
                        <li class="hide-on-med-and-down">
                            <form asp-action="Logout" asp-controller="Account" asp-route-area="Portal" id="logoutForm">
                                <a href="javascript:document.getElementById('logoutForm').submit()"><i class="material-icons">directions_run</i></a>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- end header nav-->
    </header>
    <!-- END HEADER -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START MAIN -->
    <div id="main" style="padding-bottom: 30px;">
        <!-- START WRAPPER -->
        <div class="wrapper">
            <!-- START LEFT SIDEBAR NAV-->
            <aside id="left-sidebar-nav">
                <ul id="slide-out" class="side-nav fixed leftside-navigation @(userState.SidebarShrinked? "shrinked":"")">
                    <li class="user-details">
                        <div class="row">
                            <div class="col s6 expand-on-shrinked" id="avatar-container">
                                <img ng-src="{{layoutCtrl.userPhotoNavbar()}}" alt="{{layoutCtrl.userPhotoNavbar()}}" class="responsive-img valign profile-image" style="border-left: 4px solid #00a651">
                            </div>
                            <div class="col s6 hide-on-shrinked">
                                <p class="user-initials"><b>{{layoutCtrl.userInitials()}}</b></p>
                            </div>
                        </div>
                    </li>
                    <li class="bold nav-border">
                        <a ui-sref="dashboard" class="waves-effect waves-cyan" ng-class="{'active': $state.current.name == 'dashboard'}"><i class="material-icons">home</i> <span>Panel główny</span></a>
                    </li>
                    <li class="bold nav-border">
                        <a ui-sref="statistics" class="waves-effect waves-cyan" ng-class="{'active': $state.current.name == 'statistics'}"><i class="material-icons">trending_up</i> <span>Statystyki</span></a>
                    </li>
                    <li class="bold nav-border">
                        <a ui-sref="shop" class="waves-effect waves-cyan" ng-class="{'active': $state.current.name == 'shop'}"><i class="material-icons">shopping_cart</i> <span>Sklep</span></a>
                    </li>
                    <li class="bold nav-border">
                        <a ui-sref="account" class="waves-effect waves-cyan" ng-class="{'active': $state.current.name == 'account'}"><i class="material-icons">settings</i> <span>Ustawienia</span></a>
                    </li>
                    <li class="bold nav-border" style="position: relative;">
                        <a ui-sref="messages" class="waves-effect waves-cyan" ng-class="{'active': $state.current.name == 'messages'}">
                            <i class="material-icons">message</i>Wiadomości

                        </a>
                        <span class="badge new" ng-if="layoutCtrl.getUnreadMessages() !== 0">{{layoutCtrl.getUnreadMessages()}}</span>
                    </li>
                    <li class="bold nav-border" style="margin-bottom: 60px;">
                        <a class="waves-effect waves-cyan toggle-side-nav-shrinked" ng-click="layoutCtrl.changeSidebarState()"><i class="material-icons">compare_arrows</i> <span>Zwiń</span></a>
                    </li>
                </ul>
                <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only" style="background:#4b85c5"><i class="material-icons">menu</i></a>
            </aside>
            <!-- END LEFT SIDEBAR NAV-->
            <!-- START CONTENT -->
            <section id="content">

                <!--breadcrumbs start-->
                <div id="breadcrumbs-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col s12 m6">
                                <h5 class="breadcrumbs-title"></h5>
                                <ol class="breadcrumbs">
                                    <li><a>Portal</a></li>
                                    <li ng-if="layoutCtrl.outerBreadcrumb().current == true">
                                        <span class="active">{{layoutCtrl.outerBreadcrumb().displayName}}</span>
                                    </li>
                                    <li ng-if="layoutCtrl.outerBreadcrumb().current == false">
                                        <a ui-sref="layoutCtrl.outerBreadcrumb().uiLink">{{layoutCtrl.outerBreadcrumb().displayName}}</a>
                                    </li>

                                </ol>
                            </div>
                            <div class="col s12 m6">
                                <p class="right-align white-text title">
                                    <b>
                                        {{layoutCtrl.date}}<br />{{layoutCtrl.time}}
                                    </b>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <resolve-loader></resolve-loader>

                <!--breadcrumbs end-->
                <!--start container-->
                <div class="container">
                    <div class="section">
                        @RenderBody()
                    </div>
                </div>
                <!--end container-->
            </section>
            <!-- END CONTENT -->
        </div>
        <!-- END WRAPPER -->
    </div>
    <!-- END MAIN -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START FOOTER -->
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                <span>Copyright © 2016 <a class="grey-text text-lighten-4" href="http://reset.ath.bielsko.pl/" target="_blank">SmartPark</a> All rights reserved.</span>
            </div>
        </div>
    </footer>
    <!-- END FOOTER -->




    <environment names="Development">
        <!-- jQuery Library -->
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">


        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.5.2/angular-messages.js"></script>

        <!--materialize js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.js"></script>
        <script src="~/js/dashboard/plugins/angular-materialize.js"></script>

        <script src="~/js/dashboard/plugins/ionrangeslider/js/ion.rangeslider.js"></script>
        <script type="text/javascript" src="~/js/Dashboard/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
        <script type="text/javascript" src="~/js/Dashboard/plugins/chartjs/chart.min.js"></script>
        <script type="text/javascript" src="~/js/Dashboard/plugins/dropify/js/dropify.min.js"></script>

        @*ANGULAR APP*@
        <script src="~/js/portalapp/portalapp.js"></script>
        <script src="~/lib/angular-perfect-scrollbar/src/angular-perfect-scrollbar.js"></script>
        <script src="~/js/portalapp/directives/resolveloaderdirective.js"></script>
        <script src="~/js/portalapp/directives/comparetodirective.js"></script>
        <script src="~/js/portalapp/directives/requiredfiledirective.js"></script>
        <script src="~/js/portalapp/directives/notequaltodirective.js"></script>
        <script src="~/js/portalapp/directives/requestverificationtokendirective.js"></script>
        <script src="~/js/portalapp/directives/loaderdirective.js"></script>
        <script src="~/js/portalapp/directives/cardloaderdirective.js"></script>
        <script src="~/js/portalapp/factories/chartjsoptionsfactory.js"></script>
        <script src="~/js/portalapp/factories/weatherinfofactory.js"></script>
        <script src="~/js/portalapp/services/loadingcontentservice.js"></script>
        <script src="~/js/portalapp/services/notificationservice.js"></script>
        <script src="~/js/portalapp/services/payureturnservice.js"></script>
        <script src="~/js/portalapp/services/breadcrumbservice.js"></script>
        <script src="~/js/portalapp/services/userprofileservice.js"></script>
        <script src="~/lib/angular-chart.js/dist/angular-chart.js"></script>
        <script src="~/js/portalapp/factories/apifactory.js"></script>
        <script src="~/js/portalapp/services/sidebarstateservice.js"></script>
        <script src="~/js/portalapp/controllers/layoutctrl.js"></script>
        <script src="~/js/portalapp/controllers/homectrl.js"></script>
        <script src="~/js/portalapp/controllers/managectrl.js"></script>
        <script src="~/js/portalapp/controllers/shopctrl.js"></script>
        <script src="~/js/portalapp/controllers/statisticsctrl.js"></script>
        <script src="~/js/portalapp/controllers/messagesctrl.js"></script>

        <!--plugins.js - Some Specific JS codes for Plugin Settings-->
        <script src="~/js/Dashboard/custom-sidenav-shrink-helper.js"></script>
        <script type="text/javascript" src="~/js/Dashboard/plugins.js"></script>
    </environment>

    <environment names="Staging,Production">
        <!-- jQuery Library -->
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.5.2/angular-messages.min.js"></script>

        <!--materialize js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
        <script src="~/js/portal.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)

</body>
</html>